{% extends 'base.html' %}
{% block title %}Leave Requests{% endblock %}
{% block content %}

<!-- Back Button Section -->
<div class="container py-3">
  <a href="{% url 'staff_management' %}" class="btn btn-secondary">Go Back</a>
</div>

<h1>Leave Requests</h1>
<a href="{% url 'leave_req_create' %}" class="btn btn-primary mb-3">Create New Leave Request</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Staff's Name</th>
      <th scope="col">Request Date</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for leave_request in leave_requests %}
    <tr>
      <td>{{ leave_request.staff.user.get_full_name }}</td>
      <td>{{ leave_request.request_date }}</td>
      <td>{{ leave_request.start_date }}</td>
      <td>{{ leave_request.end_date }}</td>
      <td>{{ leave_request.get_leave_req_status_display }}</td>
      <td>
        {% if user.is_admin or user.is_manager %}
        <a href="{% url 'leave_req_detail' leave_request.pk %}" class="btn btn-primary">View</a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No leave requests found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Auto Refresh Page per 30 seconds -->    
<script>
  setTimeout(function() {
      location.reload();
  }, 30000); 
</script>


{% endblock %}
