{% extends 'base.html' %}
{% block title %}Delete Ingredient Usage{% endblock %}
{% block content %}
<div class="container">
    <h1>Delete Ingredient Usage</h1>
    <p>Are you sure you want to delete {{ usage.quantity }} {{ usage.ingredient.unit }} of {{ usage.ingredient.name }} for {{ usage.menu_item.name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes Delete</button>
        <a href="{% url 'ingredientusage' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
