{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}

<!-- Back Button Section -->
<div class="container py-3">
    <a href="{% url 'inventory_management' %}" class="btn btn-secondary">Go Back</a>
</div>

<div class="container">
    <h2>Ingredients</h2>
    {% if user.is_admin or user.is_manager or user.is_chef %}
    <a href="{% url 'ingredient_add' %}" class="btn btn-primary mb-3">Add Ingredient</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stock Level</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td><a href="{% url 'ingredient_detail' ingredient.id %}">{{ ingredient.name }}</a></td>
                    <td>{{ ingredient.stock_level }}</td>
                    <td>{{ ingredient.unit }}</td>
                    <td>
                        {% if user.is_admin or user.is_manager or user.is_chef %}
                        <a href="{% url 'ingredient_detail' ingredient.id %}" class="btn btn-primary btn-sm">View</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Auto Refresh Page per 10 seconds -->    
<script>
    setTimeout(function() {
        location.reload();
    }, 10000); 
  </script>

{% endblock %}
