{% extends 'base.html' %}
{% block title %}Category{% endblock %}
{% block content %}

<!-- Back Button Section -->
<div class="container py-3">
  <a href="{% url 'menu_management' %}" class="btn btn-secondary">Go Back</a>
</div>

<h1>Category List</h1>
{% if user.is_admin or user.is_chef %}
<a href="{% url 'category_add' %}" class="btn btn-primary mb-3">Add New Category</a>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>
        {% if user.is_admin or user.is_chef or user.is_manager %}
        <a href="{% url 'category_detail' category.id %}" class="btn btn-primary">View</a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No categories available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
