{% extends 'base.html' %}

{% block title %}Billing{% endblock %}

{% block content %}

<div class = "mb-3">
<a href="{% url 'billing_management' %}" class="btn btn-secondary">Go Back</a>
</div>
{% if user.is_admin or user.is_cashier %}
<a href="{% url 'bill_create' %}" class="btn btn-primary mb-3">Create New Bill</a>
{% endif %}

<h2>Lists of Created Bills</h2>
<ul>
    {% for bill in bills %}
    <li>
        <a href="{% url 'bill_detail' bill.id %}">{{ bill.bill_number }}
        {% if bill.order %}
            ({{ bill.order.order_number }}) 
        {% elif bill.special_order %} 
            ({{ bill.special_order.order_number }}) 
        {% endif %} 
            - Amount: Rs.{{ bill.total_amount }} ({{ bill.get_payment_status_display }})
        </a>
    </li>
    {% endfor %}
</ul>

<!-- Auto Refresh Page per 10 seconds -->    
<script>
    setTimeout(function() {
        location.reload();
    }, 10000); 
  </script>

{% endblock %}
