{% extends 'base.html' %}
{% block title %}Billing Management{% endblock %} 
{% block content %}

<!-- Back Button Section -->
<div class="container py-3">
    <a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
</div>

<!-- Hero Section -->
<div class="container">
    <h1 class="display-4">Welcome to Billing Management</h1>
    <p class="lead">Manage your bills and payments efficiently.</p>
</div>

<!-- Features Section -->
<div class="container py-5">
    <div class="row">
    {% if user.is_admin or user.is_cashier %}
        <div class="col-md-6 text-center">
            <a href="{% url 'bill_create' %}">
                <h2>Create Bill/Make Payment</h2>
                <i class="fas fa-file-invoice-dollar fa-3x mb-3"></i>
                <p>Generate new bills for customer orders and make payment.</p>
            </a>
        </div>
    {% endif %}
        <div class="col-md-6 text-center">
            <a href="{% url 'bill' %}">
                <h2>Bill List/ Payment</h2>
                <i class="fas fa-list-alt fa-3x mb-3"></i>
                <p>View and manage the list of all generated bills for paymentand refund.</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
