{% extends 'base.html' %}
{% block title %}Tables{% endblock %}
{% block content %}

<!-- Back Button Section -->
<div class="container py-3">
    <a href="{% url 'table_management' %}" class="btn btn-secondary">Go Back</a>
</div>

<div class="container mt-5">
    <div>
        <h2>Tables</h2>
        {% if user.is_admin or user.is_manager %}
        <a href="{% url 'table_add' %}" class="btn btn-primary">Add Table</a>
        {% endif %}
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Table Number</th>
                <th>Capacity</th>
                <th>Table Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td>{{ table.table_number }}</td>
                <td>{{ table.capacity }}</td>
                <td>{{ table.get_table_status_display }}</td>
                <td>
                    {% if user.is_admin or user.is_manager or user.is_waiter %}
                    <a href="{% url 'table_detail' table.pk %}" class="btn btn-info btn-sm">View</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Auto Refresh Page per 30 seconds -->    
<script>
    setTimeout(function() {
        location.reload();
    }, 30000); 
  </script>

{% endblock %}
